week12/flow-post.json
[
    {
        "id": "c19ce083945af90e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "599740b7.efde9",
        "type": "http response",
        "z": "c19ce083945af90e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "c7410fa2.1c2fa",
        "type": "debug",
        "z": "c19ce083945af90e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "d0089cc7.d25ac",
        "type": "function",
        "z": "c19ce083945af90e",
        "name": "function",
        "func": "let msg1 = { payload: msg.payload.temperature };\nlet msg2 = { payload: msg.payload.humidity };\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [
            [
                "36be8206e6423dc5"
            ],
            [
                "1350b524fc3f6392"
            ]
        ]
    },
    {
        "id": "5d9ab0d2.66b92",
        "type": "http in",
        "z": "c19ce083945af90e",
        "name": "",
        "url": "/update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "599740b7.efde9",
                "c7410fa2.1c2fa",
                "d0089cc7.d25ac"
            ]
        ]
    },
    {
        "id": "7ebcc4f10b3ea818",
        "type": "http request",
        "z": "c19ce083945af90e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/monitoring/api/data/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1550,
        "y": 1020,
        "wires": [
            [
                "20f2699d4e2fdc05"
            ]
        ]
    },
    {
        "id": "baa9bbc1cf030ad9",
        "type": "inject",
        "z": "c19ce083945af90e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1040,
        "y": 1020,
        "wires": [
            [
                "7eba33bd987c6dda"
            ]
        ]
    },
    {
        "id": "7eba33bd987c6dda",
        "type": "function",
        "z": "c19ce083945af90e",
        "name": "function 1",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    \"api_key\": \"tPmAT5Ab3j7F9\",\n    \"sensor\": \"BME280\",\n    \"value1\": \"24.25\",\n    \"value2\": \"49.54\",\n    \"value3\": \"1005.14\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1020,
        "wires": [
            [
                "7ebcc4f10b3ea818"
            ]
        ]
    },
    {
        "id": "20f2699d4e2fdc05",
        "type": "debug",
        "z": "c19ce083945af90e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 1020,
        "wires": []
    },
    {
        "id": "70e051dd94eacce7",
        "type": "http request",
        "z": "c19ce083945af90e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/update-sensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "e9f2fffeecfc0443"
            ]
        ]
    },
    {
        "id": "e9f2fffeecfc0443",
        "type": "debug",
        "z": "c19ce083945af90e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "c8f622bdad262ab0",
        "type": "function",
        "z": "c19ce083945af90e",
        "name": "Header",
        "func": "msg.headers={};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "70e051dd94eacce7"
            ]
        ]
    },
    {
        "id": "c8aec640b36cb34b",
        "type": "inject",
        "z": "c19ce083945af90e",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.temperature",
                "v": "$round(25+$random()*5,1)",
                "vt": "jsonata"
            },
            {
                "p": "payload.humidity",
                "v": "$round(25+$random()*50,1)",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "c8f622bdad262ab0"
            ]
        ]
    },
    {
        "id": "36be8206e6423dc5",
        "type": "ui_gauge",
        "z": "c19ce083945af90e",
        "name": "",
        "group": "5ba8b1174a881f71",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "1350b524fc3f6392",
        "type": "ui_gauge",
        "z": "c19ce083945af90e",
        "name": "",
        "group": "5ba8b1174a881f71",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "5ba8b1174a881f71",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "cf571c60550dc6da",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf571c60550dc6da",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
